#albumPhoto {
  box-shadow: 0px -1px 8px 1px #000000;
}

#subhero {
  background-color: #161616;
  color: #898886;
}

#durataAlbum {
  color: #c6bea2;
}

#hero {
  background-color: rgba(255, 0, 0, 0);
}
