#homepage-central{
    background-color: #171717;
     
}
#hero{
    background: linear-gradient(49deg, #000, #adb5bd1f);
}
.buonasera{
    li{
        background-color: #2c2c2c;
        &:hover{
            transform: scale(1);
            box-shadow: 1px 1px 20px 4px #000000;
        }
        
    }
}
.colcard{
    &:hover{
        transform: scale(1);
        box-shadow: 1px 1px 20px 4px #000000;
    }
}
.artist{
    color: white;
    &:hover{
        cursor: pointer;
        color: rgb(19, 180, 19);
    }
}